body{
    background-color: #0E21A0;
    color: white;
}h1{
    color:#EC53B0
}
.regForm{
    color: black;
}
.centered{
    text-align: center;
}
.donorcard{
    color: black;
}
.login{
    color: pink;
}
.blue1{
    background-color:#3AA6B9
}
.blue2{
    background-color:#5C5470
}